* {
    margin: 0%;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;

}

html {
    background-image: url(fondo.jpg);
}

header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    flex-direction: column;
}


footer {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#interroganteHumano,
#interroganteMaquina {
    height: 25vh;
    border: 10px solid rgba(161,214,248,255);
    border-radius: 5%;
    margin: 5vh;
    margin-top: 0vh;
    margin-bottom: 0%;
}

h5 {
    margin-top: 2vh;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}


input {
    margin-top: 2vh;
    width: 150px;
    height: 50px;
    font-size: 16px;
    padding: 10px;
    background-color: rgba(161,214,248,255);
    color: white;
    border-color: white;
}

input:hover{
    background-color: blue;
}

a {
    text-decoration: none;
    color: white;
    background-color: rgba(161,214,248,255);
    padding: 1vh;
    border: 1px solid black;
}

a:hover{
    background-color: blue;
}

#resultados {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

figcaption {
    display: flex;
    justify-content: center;
}