*{
    margin: 0%;
}
body{
    background-color: darkorchid;
}
header{
    background-image: url(cabecera_navidad.jpg);
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
header h1{
    color: white;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 10px;
}
nav{
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}
nav li{
    display: inline;
    margin-right: 100px;
    margin-top: 5px;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: rgb(245, 145, 195);
    text-decoration: underline;
}
.apellidos{
    position: relative;
    left: 119px;
}
.apellidos2{
    position: relative;
    right: 50px;
}
section{
    position: relative;
    width: 50%;
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 80PX;
    left: 70px;
}
article{
    background-color: rgba(221, 179, 231, 0.73);
    border-radius: 15px;
    height: 400px;
    display: flex;
    width: 600px;
}
aside{
    width: 30%;
    height: 200px;
    position: relative;
    float: right;
    margin-right: 50px;
    bottom: 357px;
}
aside fieldset{
    position: relative;
    top: 50px;
}
aside button{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
article h2{
    color: white;
    text-align: center;
}
form input,label{
    margin-left: 50px;
}
form input{
    border-top: 2px solid black;
    border-left: 2px solid black;
}
.submit{
    border-radius: 8px; 
    width: 200px;
    position: relative;
    top: 100px;
    justify-content: center;
    left: 170px;
}
footer{
    height: 50px;
    background-image: url(cabecera_navidad.jpg);
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    clear: both;
    position: relative;
}