*{
    margin: 0%;
}
body{
    background-color: darkorchid;
}
header{
    background-image: url(cabecera_navidad.jpg);
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
header h1{
    color: white;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 10px;
    font-size: 60px;
}
nav{
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}
nav li{
    display: inline;
    margin-right: 100px;
    margin-top: 5px;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: rgb(245, 145, 195);
    text-decoration: underline;
}
.apellidos{
    position: relative;
    left: 121px;
}