*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: grey;
}
header h1{
    color:white;
    /*text-align: center;*/
}
[href="http://www.colegiovivas.com"]{
    text-decoration: none;
    color: greenyellow;
}
.verde{
    color: greenyellow;
}
a.verde{
    font-family: 'Courier New', Courier, monospace;
}
a.verde:hover{
    color: plum;
}
nav{
    width: 100%;
    height: 60px;
    background-color: black;
}
li{
    display: inline;
    margin-right: 10px;
}
nav a{
    text-decoration: none;
}
nav a:hover{
    color:plum;
}
ol{
    position:relative;
    left: 50px;
    position: relative;
    top: 15px;
}
section{
    width: 60%;
    height: 400px;
    float: left;
    background-color: greenyellow;
}
aside{
    width: 40%;
    float: right;
    height: 400px;
    background-color: green;
    
}
footer{
    width: 100%;
    height: 60px;
    background-color: black;
    clear: both;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
