header{
    background-color: black;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
}

body{
    margin: 0;
}

nav{
    background-color: black;
    color: white;
    display:block;
}

nav a{
    padding-right: 40px;
    margin-left: 10px;
    color: white;
    text-decoration: none;
    position: relative;
    bottom: 5px;
}

nav a:hover{
    color: red;
}