html {
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    max-width: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    width: 100%;
    
}

header {
    width: 100%;
    height: 70px;
}

.oso {
    position: relative;
    float: left;
    margin-left: 10px;
    top: 4px;
}

.largo {
    position: relative;
    float: right;
    margin-right: 10px;
    top: 10px;
}

hr {
    border-color: red;
    position: relative;
    top: 5px;
}

nav a {
    color: red;
    text-decoration: none;
    position: relative;
    top: 10px;
    padding-right: 40px;
    margin-left: 10px;
}

nav a:hover {
    color: rgb(0, 217, 255);
}

section {
    width: 100%;
    height: 550px;
    margin-left: 5px;
    position: relative;
    top: 30px;
}

article {
    box-shadow: 0 0 7px 1px black;
}

#caja1 {
    background-color: red;
    width: 45%;
    height: 700px;
    border-radius: 10%;
    margin-left: 5px;
}

#caja1 h2 {
    color: white;
    text-align: center;
    position: relative;
    top: 7px;
}

#caja1 p {
    margin-left: 12px;
    margin-right: 9px;
    font-size: 27px;
    color: white;
}

#caja1 li {
    color: white;
    position: relative;
    padding-top: 2px;
    bottom: 8px;
}

#caja1 img {
    width: 300px;
    height: 200px;
    position: relative;
    left: 130px;
    border-radius: 40px;
    bottom: 3px;
}

#caja2 {
    float: right;
    background-color: red;
    height: 290px;
    width: 320px;
    color: white;
    border-radius: 16%;
    position: relative;
    top: -700px;
    right: 360px;

}

#caja2 h2 {
    text-align: center;
    position: relative;
    top: -16px;
}

#caja2 li {
    font-size: 20px;
    position: relative;
    bottom: 25px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    font-style: italic;
}

.honey:hover {
    color: rgb(255, 213, 0);
}

.bends:hover {
    color: rgb(151, 51, 51);
}

.computer:hover {
    color: rgb(76, 176, 216);
}

.kida:hover {
    color: rgb(43, 43, 180);
}

.amnesiac:hover {
    color: black;
}

.hail:hover {
    color: rgb(255, 153, 0);
}

.rainbows:hover {
    color: purple;
}

.limbs:hover {
    color: greenyellow;
}

.moon:hover {
    color: rgb(78, 75, 75);
}

#caja3 {
    float: right;
    height: 390px;
    width: 52%;
    border-radius: 50px;
    background-color: red;
    position: relative;
    bottom: 390px;
    left: 305px;
}

#caja3 h2 {
    text-align: center;
    color: white;
    position: relative;
    top: -16px;
}

#caja3 p {
    font-size: 23px;
    margin-top: 3px;
    margin-left: 20px;
    margin-right: 9px;
    color: white;
    position: relative;
    bottom: 7%;
}

.rainbowsimg {
    width: 26%;
    height: 240px;
    float: right;
    position: relative;
    bottom: 1090px;
    left: -8px;
}

.rainbowsimg img {
    border-radius: 45px;
    box-shadow: 0 0 7px 1px black;
    width: 98%;
    height: 292px;
}
